<div class="roles-management">
  <div class="header">
    <h2>Roles Management</h2>
    <div class="header-actions">
      <span class="p-input-icon-left search-input">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [formControl]="searchControl"
          placeholder="Search roles..."
        />
      </span>
      <p-button
        label="Add Role"
        icon="pi pi-plus"
        severity="contrast"
        variant="outlined"
        (onClick)="openAddDialog()"
      ></p-button>
    </div>
  </div>

  <p-table
    [value]="filteredRoles"
    [loading]="loading"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20]"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Role Name</th>
        <th>Permissions</th>
        <th style="width: 150px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
      <tr>
        <td>{{ role.roleName }}</td>
        <td>
          <div class="permission-chips">
            <span
              *ngFor="let permission of role.permissions"
              class="permission-chip"
              [ngClass]="getPermissionClass(permission.name)"
            >
              {{ permission.description }}
            </span>
          </div>
        </td>
        <td>
          <div class="actions">
            <p-button
              icon="pi pi-pencil"
              (onClick)="openEditDialog(role)"
              [outlined]="true"
              styleClass="p-button"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              (onClick)="confirmDelete(role)"
              [outlined]="true"
              severity="danger"
              styleClass="p-button"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">
          <div class="empty-message">
            <i class="pi pi-inbox" style="font-size: 3rem"></i>
            <p>No roles found</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-role-modal
    [(visible)]="showRoleModal"
    [role]="selectedRole"
    (visibleChange)="onRoleModalHide()"
    (save)="onSaveRole($event)"
  ></app-role-modal>

  <p-confirmDialog
    [acceptLabel]="'Delete'"
    [rejectLabel]="'Cancel'"
    [acceptButtonStyleClass]="'p-button-danger p-button-outlined'"
    [rejectButtonStyleClass]="'p-button p-button-text'"
    [icon]="'pi pi-trash'"
  ></p-confirmDialog>
  <p-toast></p-toast>
</div>
