<div class="employee-classes">
  <p-table [value]="employeeClasses" [loading]="loading" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Class</th>
        <th>Description</th>
        <th>Score Range</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-class>
      <tr>
        <td>
          <span [ngClass]="getClassStyleClassname(class.className)">
            {{class.className}}
          </span>
        </td>
        <td>{{class.description}}</td>
        <td>{{class.minScore}} - {{class.maxScore}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="text-center p-4">
          <div class="empty-state">
            <i class="pi pi-users" style="font-size: 4rem"></i>
            <h2>No Employee Classes</h2>
            <p>No employee classes have been defined yet.</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast />